In [1]:
print('Hello World!')

Hello World!

In [2]:
print('"Hello, DPhi! Today I executed my very first Python program. Thanks!"')

"Hello, DPhi! Today I executed my very first Python program. Thanks!"

In [3]:
# assign a value 5 to b
b = 5

print(b)

5

In [4]:
# assign a value 5 to a
a = 5

# assign a value 16 to b
b = 16

x = a+b

print(x)

21

In [5]:
a = "Hello, World!"

print(a[1])

e

In [6]:
a = "Hello, World!"

print(a[7:12])

World

In [7]:
a = "Hello, World!"

print(a[-4])

r

In [8]:
a = "Hello, World!"

print(a[-5:-2])

orl

In [9]:
# concatenation
x = "Python is "
y = "awesome"
z =  x + y

print(z)

Python is awesome

In [10]:
# string length

a = "Hello, World!"

print(len(a))

13

In [11]:
# list in Python

A = ["Brush", "Leuven", 48851964400, 3.14, "Mom"]
A[0] = "Morning Walk"

print(A)

['Morning Walk', 'Leuven', 48851964400, 3.14, 'Mom']

In [12]:
# Append list in Python

A = ["Morning Walk", "Leuven", 48851964400, 3.14, "Mom"]
A.append("Butter")

print(A)

['Morning Walk', 'Leuven', 48851964400, 3.14, 'Mom', 'Butter']

In [13]:
# Insert list in Python

A = ["Morning Walk", "Leuven", 48851964400, 3.14, "Mom"]
A.insert(1, "Butter")

print(A)

['Morning Walk', 'Butter', 'Leuven', 48851964400, 3.14, 'Mom']

In [14]:
# Combination list in Python

food = ["bread", "pasta", "fruits"]
bathroom= ["shampoo", "soap"]
items= food+bathroom

print(items)

['bread', 'pasta', 'fruits', 'shampoo', 'soap']

In [15]:
# length in Python

items= ["bread", "pasta", "fruits", "shampoo", "soap"]

print(len(items))

5

In [16]:
# Substraction in Python. 

# The expense for every months
A = [2200, 2350, 2600, 2130, 2190]

# assign a value 2200 to a
a = 2200

# assign a value 2350 to b
b = 2350

x = b-a

print(x)

150

In [17]:
# Sum in Python

A = [2200, 2350, 2600, 2130, 2190]

print(sum(A[0:3]))

7150

In [18]:
# Comparison operator in Python

A = [2200, 2350, 2600, 2130, 2190]
B = [2000]

print (A == B)

False

In [19]:
# Append list in Python

A = [2200, 2350, 2600, 2130, 2190]
A.append(1980)

print(A)

[2200, 2350, 2600, 2130, 2190, 1980]

In [20]:
# Arithmetic operators in Python

x= 2130-200

A = [2200, 2350, 2600, x, 2190]

print(A)

[2200, 2350, 2600, 1930, 2190]

In [21]:
# Turples in list

A = ["Brush", "Leuven", 48851964400, 3.14, "Mom"]

print(A[2:-1])

[48851964400, 3.14]

In [22]:
# Count in list

A = ["Brush", "Leuven", 48851964400, 3.14, "Mom"]

print(A.count(3.14))

1

In [23]:
# Length in list

A = ["Brush", "Leuven", 48851964400, 3.14, "Mom"]

print(len(A))

5

In [24]:
# Join two tupples in Python

A = ["Brush", "Leuven", 48851964400, 3.14, "Mom"]
B = ["Tower", 2, 1.6]
Z = A + B

print(Z)

['Brush', 'Leuven', 48851964400, 3.14, 'Mom', 'Tower', 2, 1.6]

In [25]:
# Arithmetic operators in string

a = ("hi",) * 5

print(a)

('hi', 'hi', 'hi', 'hi', 'hi')

In [26]:
a = ("hi",) * 5

print(a[2])

hi

In [27]:
# Dictionaries between key and value 
d = {}

# d = {"Gary":38, "Jennifer":22, "Tank" = 23}
d["Gary"] = 38
d["Jennifer"] = 22
d["Tank"] = 23

print(d["Gary"])
print(d["Jennifer"])
print(d["Tank"])

38
22
23

In [28]:
d["Jennifer"] = 28

print(d["Jennifer"])

28

In [29]:
# Keys are commonly strings or numbers

d[8] = 800

print(d[8])

800

In [30]:
# How to iterate over key-value pairs?

for key, value in d.items():
    print("key:")
    print(key)
    print("value")
    print(value)
    print("")

key:
Gary
value
38

key:
Jennifer
value
28

key:
Tank
value
23

key:
8
value
800

In [31]:
# Keys in a dictionary are immutable and case sensitive

my_dict = {1:"Brown", 2:"Purple", 3:"White"}

print(my_dict)

{1: 'Brown', 2: 'Purple', 3: 'White'}

In [32]:
# Built-in functions

exNum1 = -5
exNum2 = 5

if abs(exNum1) == exNum2:
    print("these are the same")

these are the same

In [33]:
# Examples of built-in functions

exList = [5, 100, 368, -9, 0]

print(max(exList))
print(min(exList))

368
-9

In [34]:
# Examples of built-in functions

x = 7.891234
print(round(x))

x = 7.123456
print(round(x))

8
7

In [35]:
# Round up (the largest integer) / round down (the smallest integer)

import math

print(math.floor(x))
print(math.ceil(x))

7
8

In [36]:
# Integer and string in Python 

intMe = "777"

print(intMe)
print(int(intMe))
print(float(intMe))

777
777
777.0

In [37]:
# Integer and string in Python

strMe= 55

print(strMe)
print(str(strMe))
print(float(strMe))

55
55
55.0

In [38]:
# Summary of built-in functions

x = [0,1,2.68,4,56,78]

print(max(x))
print(min(x))
print(len(x))
print(round(1.68,1))
print(round(1.68))
print(sorted(x, reverse=True))

78
0
6
1.7
2
[78, 56, 4, 2.68, 1, 0]

In [39]:
# Round(number, ndigits)

print(round(1.68))
print(round(1.68,1))
print(round(1.68,2))

2
1.7
1.68

In [40]:
# Collection of numbers using the sum function

num_list = [178, 164, 50, 3]
print(sum(num_list))

num_tup = (10,25,40)
print(sum(num_tup))

395
75

In [41]:
# Define functions in Python

def bitcoin_to_usd(btc):
    amount = btc * 527
    print(amount)
    
# function is independent of the object    
    
bitcoin_to_usd(3.85)
bitcoin_to_usd(1)
bitcoin_to_usd(13)
bitcoin_to_usd(79)

2028.95
527
6851
41633

In [42]:
import pandas as pd
x = pd.Series(['a','b','c','d','e','f','g','h','i','j'])

x

0    a
1    b
2    c
3    d
4    e
5    f
6    g
7    h
8    i
9    j
dtype: object

In [43]:
x.index

RangeIndex(start=0, stop=10, step=1)

In [44]:
x.index[2]

2

In [45]:
x[0:9]

0    a
1    b
2    c
3    d
4    e
5    f
6    g
7    h
8    i
dtype: object

In [46]:
new_list = [1,2,4,6,8]

for x, new_val in enumerate(new_list):
    print(x,",", new_val)

0 , 1
1 , 2
2 , 4
3 , 6
4 , 8

In [47]:
word = 'abcdefg'
word.capitalize()

'Abcdefg'

In [48]:
word.replace("c","xy")

'abxydefg'

In [55]:
# To represnt the math directories in Python
dir(math)

['__doc__',
 '__loader__',
 '__name__',
 '__package__',
 '__spec__',
 'acos',
 'acosh',
 'asin',
 'asinh',
 'atan',
 'atan2',
 'atanh',
 'ceil',
 'comb',
 'copysign',
 'cos',
 'cosh',
 'degrees',
 'dist',
 'e',
 'erf',
 'erfc',
 'exp',
 'expm1',
 'fabs',
 'factorial',
 'floor',
 'fmod',
 'frexp',
 'fsum',
 'gamma',
 'gcd',
 'hypot',
 'inf',
 'isclose',
 'isfinite',
 'isinf',
 'isnan',
 'isqrt',
 'lcm',
 'ldexp',
 'lgamma',
 'log',
 'log10',
 'log1p',
 'log2',
 'modf',
 'nan',
 'nextafter',
 'perm',
 'pi',
 'pow',
 'prod',
 'radians',
 'remainder',
 'sin',
 'sinh',
 'sqrt',
 'tan',
 'tanh',
 'tau',
 'trunc',
 'ulp']

In [49]:
# Importing packages/modules in Python

import math

# to calculate the square root of a number
print(math.sqrt(16))
print(math.sqrt(64))
print(math.sqrt(100))

# to calculate the power of a number
print(math.pow(2,5))
print(math.pow(3,7))
print(math.pow(5,4))

4.0
8.0
10.0
32.0
2187.0
625.0

In [50]:
# Importing packages/modules in Python

import math

# to calculate the natural logarithm of a number to base b
print(math.log10(100))
print(math.log2(64))

2.0
6.0

In [51]:
# Importing calendar modules in Python

import calendar

cal = calendar.month(2022,1)
print(cal)

    January 2022
Mo Tu We Th Fr Sa Su
                1  2
 3  4  5  6  7  8  9
10 11 12 13 14 15 16
17 18 19 20 21 22 23
24 25 26 27 28 29 30
31

In [52]:
calendar.isleap(2022)

False

In [54]:
calendar.isleap(2024)

True

In [56]:
# To represent the calendar directories in Python
dir(calendar)

['Calendar',
 'EPOCH',
 'FRIDAY',
 'February',
 'HTMLCalendar',
 'IllegalMonthError',
 'IllegalWeekdayError',
 'January',
 'LocaleHTMLCalendar',
 'LocaleTextCalendar',
 'MONDAY',
 'SATURDAY',
 'SUNDAY',
 'THURSDAY',
 'TUESDAY',
 'TextCalendar',
 'WEDNESDAY',
 '_EPOCH_ORD',
 '__all__',
 '__builtins__',
 '__cached__',
 '__doc__',
 '__file__',
 '__loader__',
 '__name__',
 '__package__',
 '__spec__',
 '_colwidth',
 '_locale',
 '_localized_day',
 '_localized_month',
 '_monthlen',
 '_nextmonth',
 '_prevmonth',
 '_spacing',
 'c',
 'calendar',
 'datetime',
 'day_abbr',
 'day_name',
 'different_locale',
 'error',
 'firstweekday',
 'format',
 'formatstring',
 'isleap',
 'leapdays',
 'main',
 'mdays',
 'month',
 'month_abbr',
 'month_name',
 'monthcalendar',
 'monthrange',
 'prcal',
 'prmonth',
 'prweek',
 'repeat',
 'setfirstweekday',
 'sys',
 'timegm',
 'week',
 'weekday',
 'weekheader']

In [57]:
9>7 and 9>10

False

In [58]:
round(90.589,1)

90.6

In [60]:
overall_ratings = [95, 99, 93, 99, 97, 94, 85, 90, 98, 99]

print(type(overall_ratings))

<class 'list'>

In [61]:
overall_ratings = [95, 99, 93, 99, 97, 94, 85, 90, 98, 99]

print(max(overall_ratings))

99

In [63]:
apartments = [{'ID': '19665213.0', 'Overall Rating': '100.0', 'Price': 26.0},
             {'ID': '6436842.0', 'Overall Rating': '90.0', 'Price': 41.0},
             {'ID': '10559468.0', 'Overall Rating': '100.0', 'Price': 50.0},
             {'ID': '27215482.0', 'Overall Rating': '100.0', 'Price': 50.0},
             {'ID': '27287546.0', 'Overall Rating': '90.0', 'Price': 55.0}]

print(type(apartments))

<class 'list'>

In [68]:
apartments = [{'ID': '19665213.0', 'Overall Rating': '100.0', 'Price': 26.0},
             {'ID': '6436842.0', 'Overall Rating': '90.0', 'Price': 41.0},
             {'ID': '10559468.0', 'Overall Rating': '100.0', 'Price': 50.0},
             {'ID': '27215482.0', 'Overall Rating': '100.0', 'Price': 50.0},
             {'ID': '27287546.0', 'Overall Rating': '90.0', 'Price': 55.0}]

print(apartments[3]['Overall Rating'])

100.0